# Gradle template
.gradle
build/*
!build/distributions
!build/reports
!build/libs

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse template
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

## Locally stored "Eclipse launch configurations"
*.launch
## JDT-specific (Eclipse Java Development Tools)
.classpath

# Code Recommenders
.recommenders/
### Example user template template
### Example user template

# IntelliJ template
.idea
/out/
.idea_modules/

# csv xlsx file
*.csv
*.xlsx

# ignore com.kamontat.cache file
caches/*
